<ul>
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a>
	</li>
	<li>
		<a href="{{ '/gallery' | prepend: site.baseurl | prepend: site.url }}">Gallery</a><span>/&nbsp;</span>
	</li>
	<li>
		<a href="{{ '/publications' | prepend: site.baseurl | prepend: site.url }}">Publications</a><span>/&nbsp;</span>
	</li>
	<li>
		<a href="{{ '/posters' | prepend: site.baseurl | prepend: site.url }}">Posters</a><span>/&nbsp;</span>
	</li>
	<li>
		<a href="{{ '/talks' | prepend: site.baseurl | prepend: site.url }}">Talks</a><span>/&nbsp;</span>
	</li>
</ul>