---
layout: default
---

<div class="page-content wc-container">
  <figure class="photo">
      <img src="{{ site.baseurl }}/assets/images/gallery/{{ page.image }}_gallery.jpg"
           srcset="{{ site.baseurl }}/assets/images/gallery/{{ page.image }}_gallery.jpg 1x, {{ site.baseurl }}/assets/images/gallery/{{ page.image }}_gallery@2x.jpg 2x"
           width="800"
           height="800"
           alt="{{ page.title }}" />
    <figcaption>{{ page.description }} </figcaption>
  </figure>

  {{ content }}

</div>
